<!DOCTYPE html>
<html lang="en" style="background: rgb(37,37,37);">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>YouTube-Download</title>


    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/font-awesome.min.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='icon.ico') }}">
</head>

<body style="background: rgb(37,37,37);">
    <nav class="navbar navbar-dark navbar-expand-md sticky-top py-3" id="mainNav" style="background: rgb(28,28,28);">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span class="bs-icon-sm bs-icon-circle bs-icon-primary shadow d-flex justify-content-center align-items-center me-2 bs-icon" style="background: rgb(244,66,55);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-youtube">
                        <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"></path>
                    </svg></span><span>YouTube-Download</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto"></ul><span class="bs-icon-sm bs-icon-circle bs-icon-primary shadow d-flex justify-content-center align-items-center navbar-text me-2 bs-icon" style="background: rgb(244,66,55);"><i class="fa fa-home"></i></span>
            </div>
        </div>
    </nav>
    <section class="py-5">
        <div class="container py-5">
            <div class="row d-flex justify-content-center">
                <div class="col">
                    <div class="card">
                        <div class="card-body text-center d-flex flex-column align-items-center" style="background: rgb(28,28,28);border-radius: 15px;">
                            <form method="post" style="width: 358px;"><input class="form-control" type="url" style="border-color: rgb(37,37,37);background: rgb(37,37,37);color: rgb(234,234,234);box-shadow: 0px 0px;" placeholder="URL" name="url">
                                <div class="mb-3"></div><input class="form-control" type="text" style="border-color: rgb(37,37,37);background: rgb(37,37,37);color: rgb(234,234,234);box-shadow: 0px 0px;" placeholder="Filename" name="filename">
                                <div class="mb-3"></div><select class="form-select" style="border-style: none;border-color: rgb(37,37,37);background: rgb(37,37,37);color: rgb(234,234,234);" name="format">
                                    <optgroup label="Audio">
                                        <option value=".mp3">.mp3</option>
                                    </optgroup>
                                    <optgroup label="Video">
                                        <option value=".mp4">.mp4</option>
                                    </optgroup>
                                </select>
                                <div class="mb-3"></div>
                                <div class="mb-3"><input name="download" class="btn btn-primary shadow d-block w-100" type="submit" style="background: rgb(244,66,55);border-style: none;box-shadow: 0px 0px rgb(255, 255, 255);"></input></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/bold-and-dark.js"></script>
</body>

</html>